<% if notice.present? %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<h1>Sections</h1>

<table class="table table-stripped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Teacher</th>
    <th>Subject</th>
    <th>Time</th>
    <th>ClassRoom</th>
    <th>Days</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @sections.each do |section| %>
    <tr>
      <td><%= section.id %></td>
      <td><%= section.teacher.first_and_last_name %></td>
      <td><%= section.subject.name %></td>
      <td><%= format_time(section.start_time) %> - <%= format_time(section.end_time) %></td>
      <td><%= section.class_room.name %></td>
      <td><%= day_full_form(section.days) %></td>
      <% if @user_sections.include?(section) %>
        <td><%= link_to 'Remove from Schedule', schedule_path(section.id), method: :delete %></td>
      <% else %>
        <td><%= link_to 'Add to Schedule', schedules_path(schedule: { section_id: section.id }), method: :post %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class', new_subject_path %>
